.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 544px;
  pointer-events: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 32px auto 0 0;
  padding: 11px 46px 13px 45px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 544px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 396px;
  height: 451px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 449px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-image-1 {
    width: 363px;
    height: 413px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
    order: 1;
  }

  .u-section-1 .u-image-1 {
    height: 549px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 433px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 310px;
    margin-top: 30px;
    margin-bottom: -44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 408px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 366px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 298px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(235, 186, 22) !important;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 29px auto 0 0;
  padding: 11px 46px 13px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 568px;
}

.u-section-3 .u-shape-1 {
  height: 230px;
  margin-top: 60px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-group-1 {
  min-height: 448px;
  width: 965px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -320px auto -30px calc(((100% - 1140px) / 2) + 88px);
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 50px;
}

.u-section-3 .u-form-1 {
  height: 307px;
  margin: 0 0 0 394px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  padding: 12px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -297px 570px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  padding: 18px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  padding: 18px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 570px 0 0;
}

.u-section-3 .u-icon-3 {
  padding: 18px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 176px;
  min-width: 112px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  padding: 18px;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  padding: 18px;
}

.u-section-3 .u-icon-6 {
  height: 100%;
  padding: 18px;
}

.u-section-3 .u-icon-7 {
  height: 100%;
  padding: 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-form-1 {
    margin-left: 369px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 545px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 545px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 504px;
  }

  .u-section-3 .u-group-1 {
    min-height: 384px;
    width: 720px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-form-1 {
    height: 287px;
    margin-top: 15px;
    margin-left: 321px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 365px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 365px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 833px;
  }

  .u-section-3 .u-group-1 {
    min-height: 713px;
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 365px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: -647px;
    margin-right: 225px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-form-1 {
    margin-top: 382px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-top: -664px;
    margin-right: 71px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 71px;
  }
}
#user-greeting {
  margin-left: 10px ;
  margin-right: 20px;
  font-weight: bold; /* In đậm chữ */
  font-size: 16px; /* Cỡ chữ */
  color: #0077FF; /* Màu chữ (ví dụ: màu xanh) */
}
.product-list-title {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

/* CSS cho danh sách sản phẩm */
/* CSS cho danh sách sản phẩm */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center; /* Căn giữa các hàng sản phẩm */
}

.product-item {
  flex: 1;
  background: #fff; /* Nền trắng */
  border: 1px solid #e0e0e0; /* Đổi màu viền */
  border-radius: 10px; /* Bo góc viền */
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: calc(33.33% - 20px); /* Điều kiện chỉ hiển thị tối đa 3 phần trên mỗi hàng */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.product-item:hover {
  transform: translateY(-5px);
  background: #f0f0f0; /* Thay đổi màu nền khi di chuột qua sản phẩm */
}

.product-title {
  font-size: 16px; /* Tăng kích thước font cho tên bài đăng */
  font-weight: bold;
  margin: 10px 0;
  color: #ff5733; /* Màu sắc nổi bật */
}

.product-description {
  font-size: 14px; /* Giảm kích thước font cho nội dung */
  color: #555;
  margin: 5px 0;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin: 10px 0; /* Thêm khoảng cách cho hình ảnh */
  border: 1px solid #ddd; /* Thêm viền cho hình ảnh */
  border-radius: 10px; /* Bo góc hình ảnh */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ cho hình ảnh */
}

/* CSS cho nút Xem Chi Tiết */
.product-button {
  background: #007bff; /* Màu nền */
  color: #fff; /* Màu chữ */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-button:hover {
  background: #0056b3; /* Màu nền thay đổi khi di chuột qua nút */
}

/* Thêm khoảng cách giữa sản phẩm và nút */
.product-button {
  margin-top: 10px;
}
