/* Đặt font chữ mặc định cho trang web */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Header của trang */
.u-header {
  background-color: #ffffff;
  color: white;
  padding: 10px 0;
}

.u-header h3 {
  font-size: 24px;
  font-weight: bold;
}

.u-header a {
  text-decoration: none;
  color: rgb(21, 56, 255);
}

h1 {
  font-size: 28px; /* Kích thước font chữ */
  font-weight: bold; /* Độ đậm của font chữ */
  color: #333; /* Màu chữ */
  text-align: center; /* Căn giữa nội dung */
  margin-top: 20px; /* Khoảng cách phía trên */
  margin-bottom: 20px; /* Khoảng cách phía dưới */
}

/* Điều hướng trang web */
.u-nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
}

/* Phần hiển thị phiên đăng nhập */
#session-info {
max-width: 600px;
margin: 0 auto;
}

/* Form thêm bài đăng */
#add-post-form {
  max-width: 600px;
margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form field */
label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Giảm kích thước của buttons trong form */
button {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #306baf;
}

/* Footer */
.u-footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

.u-footer p {
  margin: 0;
}
#user-greeting {
  margin-left: 10px;
  font-weight: bold; 
  font-size: 16px;
  color: #0077FF; 
  margin-right: 20px;
}